app-home {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: blue;
}

app-home .home-component {
  display: flex;
  flex-direction: column;
  color: white;
}

app-home .home-component .title-fake {
  width: 60px;
  height: 20px;
  background-color: grey;
}

app-home .home-component button {
  align-self: flex-start;
}